.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.App > aside {
  width: 300px;
  background-color: antiquewhite;
  flex-shrink: 0;
  height: 100vh;
}

aside li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;

}

.App > section {
  flex: auto;
  height: 100%;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
